{% extends "base.html" %}

{% block title %}Caldi Design - Shops{% endblock %}

{% block headscript %}
<script type="text/javascript">
$(function() {
	$('a.zoombox').zoombox();
});
</script>
{% endblock %}

{% block main %}
	<div class="span-15 last" style="top: 70px; position: relative"> 
		<h3 class="loud">Contact</h3>
<br />
<br />		
		Online<br />
		<br />
		<table style="width: 300px; border-bottom: 2px solid #939393; padding-bottom: 50px">
			<tr>
				<td>
					<a href="http://www.etsy.com" target="_new">www.etsy.com</a>
				</td>
				<td style="text-align: right">
					<a href="http://www.madeit.com.au" target="_new">www.madeit.com.au</a>
				</td>
			</tr>
			<tr>
				<td>
					international
				</td>
				<td style="text-align: right">
					australian wide
				</td>
			</tr>
		</table>		
		<a href="/content/images/montage-flyer.jpg" class="zoombox"><img src="/content/images/montage-flyer.jpg" width="150" height="200"></a>
	</div>
{% endblock %}