body {
	background: #999; /* for non-css3 browsers */

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#939393', endColorstr='#dcdcdc'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#939393), to(#dcdcdc)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #939393,  #dcdcdc); /* for firefox 3.6+ */
	margin:50px 0px; padding:0px;
	text-align: center;
	font-family: "Lucida Console";
}

.shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.menu {
	list-style-type: none;
	margin-top: 50px;
	height: 470px;
}

.menu a {
	text-decoration: none;
	color: #000;
}

.menu a.selected {
}

.menu a.selected img {
	display: inline;
}

.menu a img {
	display: none;
}

.container {
	background: #EDEDED;
	margin-top: 120px;
	height: 593px;
	text-align: left;
}

tbody tr:nth-child(even) td, tbody tr.even td {background:none;}